@charset "UTF-8";
.banner604 {
    position: relative;
}
.banner604 a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 604px;
    background: url(../images/banner.jpg) no-repeat top center;
}
.main {
    position: relative;
}
/*轮播开始*/
.btn {
    background-color: #1b6d85;
}

ul{
    list-style: none;
}
img {
    vertical-align: top;
/*取消3像素距离，或者display:block*/
}
/*搜索*/
.search_fx{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 55px;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    display: none;
}
.search_top{
    margin: auto;
    width: 1190px;
    height: 50px;
    position: relative;
    z-index: 1;
}
.search_logo {
    width: 125px;
    height: 40px;
    background-image: url('../images/JDdog.png');
    text-indent: -999px;
    position: absolute;
    left:100px;
    top:5px;
}
#shelper{
    left: 320px;
    width: 498px;
}
.search_top .form {
    position: absolute;
    right: 330px;
    top: 5px;
    width: 500px;
    height: 45px;
    overflow: hidden;
}
.search_top .text {
    float:left;
    margin-top: 5px;
    outline: none;
    left: 0;
    padding: 4px;
    width: 430px;
    height: 25px;
    border: 1px solid #B1191A;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
        border-color: #efefef;
    background-color: #efefef;
}
.search_top .button {
    right: 0;
    width: 50px;
    height: 35px;
    margin-top: 5px;
    line-height: 35px;
    border: none;
    background-color: #B1191A;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}




#fs{
    width: 100%;
    height: 480px;
    position: relative;
    margin-bottom: 15px; 
    overflow: hidden;
}
#fs_main{
    height: 100%;
    width: 100%;
    float: left; 
}
 #sliderBox{
    margin: 0 213px 0 180px;
    height: 340px;
    width: 100%;
    float: left;
   position:relative;
   /* background-color: pink;*/
}


#slider{
    width:  790px;
    height: 100%;
    position:relative;
    overflow: hidden;
  
}

#slider ul{
    width: 5530px;
    height:100%;
    position: absolute;
    left:-790px;
}
#slider ul li{
    float: left;
    background-color: #5bc0de;
}
#slider a{
 display: block;
 float:left;
}
/*为量侧箭头设置*/

#slider:hover .arr {
    display: block;
        }
 .arr{
    cursor: pointer;
    display: block;
    z-index: 10;
    width:30px; height:50px;
    position:absolute;
    top:170px;
    margin-top:-15px;
    background:#5e5e5e;
    cursor:pointer;
    line-height:50px;
    text-align:center;
    font-weight:bold;
    font-family:'黑体';
    font-size:20px;
    color:#fff;
    opacity:0.3;
    border:1px solid #fff;}
 .arrleft{
   left:10px; 
}
.arrright{
    left:750px;  
}
/*原点CSS*/
#circle{
    position: absolute;
    left: 45%;
    z-index:2;
    margin-left: -200px;
    top: 300px;
}
#circle span{
    float: left;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #FFF;
    text-align: center;
    line-height: 18px;
    margin-left: 10px;
    cursor: pointer;
}
#circle ul .current{
    background-color: red;
}
#circle ul span:hover{
    /*background-color: #1b6d85;*/
}

/*轮播结束*/

/*轮播脚本开始*/
#slider_buttom{
     height: 130px;
     margin: 15px 228px 0 180px;
    width: 790px;
    float: left;  
    overflow: hidden;
}
#slider_buttom .slider_buttomlef{
    width: 390px;
    height: 130px;
    float: left;
    margin-right: 10px;
} 
#slider_buttom .slider_buttomrig{
    width: 390px;
    height: 130px;
    float: left;  
}
/*轮播脚本结束*/

/*左侧菜单开始*/
.cate_menu  {
    height: 470px;
    width: 170px;
    background-color: #6e6568;
    padding-top:15px;
    float:left;
    margin-left: -100%;
}
.cate_menu .dd {
  
}
.cate_menu li {
    height: 31px;
    line-height: 31px;
    border-left: 1px solid #B61D1D;
    padding-left: 10px;
    color: #fff;
    font-size: 15px;
    font-family:"微软雅黑";
}
.cate_menu li:hover{
background-color: #999395;
}


.cate_menu .items span {
    padding: 0 1px;
    font-size: 12px;
}
.cate_menu .items a {
    font-size: 14px;
    color: #fff;
}
.cate_menu .items a:hover {

    color: #B1191A;
}

/*菜单详情*/
.cate_detail{
    position: absolute;
    left: 8999px;
    top: 0;
    width: 998px;
    min-height: 480px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    box-shadow: 2px 0 5px rgba(0,0,0,.3); 
    z-index: 99;
    padding-left: 15px;
}
.cate_detail .cate_detail_title{
    margin-top: 10px;
    width: 100%;
    height: 24px;

}
.cate_detail .cate_detail_title a{
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #6e6568;
    line-height: 24px;
    color: #fff;
}
.cate_detail .cate_detail_title span{
margin-left: 5px;
line-height: 24px;
 font: 400 13px/13px simsun;

}
.cate_name{
    margin-top: 20px;
    width: 100%;
 
}
.cate_name .name_list{
    width: 100%;
    height: 16px;
    margin-bottom: 20px;
}
.cate_detail a:hover{
    color: #B1191A;
}
#cate_name a:hover{
    color: #B1191A;
}
.cate_name .name_list a{
    float: left;  
    color: #666;
    margin: 4px 0;
    padding: 0 10px;
    height: 16px;
    line-height: 16px;
    border-left: 1px solid #e0e0e0;
}

.name_list .name_first span{
margin-left: 2px;
line-height: 24px;
font: 400 13px/13px simsun;
}
.cate_name .name_list .name_first{
    width:80px;
    height: 16px;
    text-align: right;
    font-weight: 700;
    border-left: 0;
    white-space: nowrap;
}
#cate_name .name_list .name_other{

width: 100%;
height: 16px;
overflow: hidden;;
}

/*菜单结束*/

/*new开始*/
.news {
    width: 203px;
    height:100%;
    border: 1px solid #E4E4E4;
    float: left;
    margin-top: 1px;
    margin-left:-205px;
}
#news a:hover{
    color: #B1191A; 
}

.jd-news {
    height: 220px;
    border-bottom: 1px dashed #E4E4E4;  /*虚线*/
}
.jd-news .dt, .lifeservi .dt {
    height: 43px;
    border-bottom: 1px dotted #E8E8E7; /*点线*/
    line-height: 43px;
}
.jd-news .dt h3 ,.lifeservi .dt h3{
    float: left;
    font: 14px/43px "microsoft yahei";
    color: #666;
    padding-left: 15px;
}
.jd-news .dt a{
    float: right;
    font: 13px/43px "宋体";
    margin-right:15px;
}
.jd-news .dd ul {
    padding: 8px 0 0 15px;
}
.jd-news .dd li {
    line-height: 28px;
}
.jd-news .dd li span {
    font-weight: 700;
    margin-right: 5px;

}
.lifeservi {
    height:251px;
    overflow: hidden;
    width: 212px;
}
.lifeservi ul {
    width: 212px;
}
.lifeservi ul li {
    width: 50px;
    height: 70px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    float: left;
    margin-left: -1px;
}
.lifeservi  li a{
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 44px;
    position: relative;
}
.lifeservi  li  i{
    position: absolute;
    top:12px;
    left:13px;
    width: 25px;
    height: 25px;
    background: url(../images/icon_lifeserv.png) no-repeat left top;
}

.lifeservi-icon1 li  i :hover{
    background-position: right top;
}

.lifeservi-icon2 a i{
    background-position: left -25px;
}
.lifeservi-icon2 a i:hover{
    background-position: right -25px;
}
.lifeservi-icon3 a i {
    background-position: left -50px;
}
.lifeservi-icon3 a i:hover {
    background-position: right -50px;
}

.lifeservi-icon4 a i {
    background-position: left -75px;
}
.lifeservi-icon4 a i:hover {
    background-position: right -75px;
}
.lifeservi-icon5 a i {
    background-position: left -100px;
}
.lifeservi-icon5 a i:hover {
    background-position: right -100px;
}
.lifeservi-icon6 a i {
    background-position: left -125px;
}
.lifeservi-icon6 a i:hover {
    background-position: right -125px;
}
.lifeservi-icon7 a i {
    background-position: left -150px;
}
.lifeservi-icon7 a i:hover {
    background-position: right -150px;
}
.lifeservi-icon8 a i{
    background-position: left -250px;
}
.lifeservi-icon8 a i:hover {
    background-position: right -250px;
}

.lifeservi-icon9 a i {
    background-position: left -175px;
}
.lifeservi-icon9 a i:hover {
    background-position: right -175px;
}
.lifeservi-icon10 a i {
    background-position: left -200px;
}
.lifeservi-icon10 a i:hover {
    background-position: right -200px;
}
.lifeservi-icon11 a i {
    background-position: left -225px;
}
.lifeservi-icon11 a i:hover {
    background-position: right -225px;
}
.lifeservi-icon12 a i {
    background-position:left -250px;
}
.lifeservi-icon12 a i:hover {
    background-position: right -250px;
}




.lifeservi .song {
    background: url(../images/song.png) no-repeat right top;
}

/*秒杀*/
.ms{
 margin-bottom: 30px; 
}
.miaosha {
    margin: 0 auto;
    width: 1190px;
    overflow: hidden;
}
.miaosha-top{
    position: relative;
    padding: 0 20px 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    width: 96%;
    background-image: url(../images/miaoTop.png);
}
.miaosha-contant{
    padding: 12px 0 13px;
    height: 225px;
    overflow: hidden;
    border: 1px solid #ccc;
}
.miaosha-top-left{
    float: left;
}
.miaosha-top .top_hd_flag {
    background-image: url(../images/flag.png);
    background-position: -190px -48px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    left: -4px;
    top: -4px;
}
  .miaosha-top .top_hd_icon{margin-top: 8px;
    margin-right: 8px;
    background-image: url(../images/flag.png);
    background-position: 0 -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
    float: left;
}
.miaosha-top-tit{
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    padding-top: 9px;
    float: left;
}
.miaosha-top-subtit{
    float: left;
    margin-top: 19px;
    margin-left: 10px;
    padding-right: 20px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    position: relative;
}
.miaosha-top a:hover{
color: #fff;
}
.miaosha-top-arrow{
    background-image: url(../images/flag.png);
    background-position: -154px -40px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;

    position: absolute;
    right: 0;
    top: 4px;
}
/*右侧时间*/
.miaosha-top-rignt {
    float: right;
}
.miaosha-top-rignt-inner{
    float: left;
}
.sk_cd_tip{
    float: left;
    line-height: 45px;
    padding-top: 10px;
    font-size: 14px;
}
.timer-box{
    float: left;
    margin-left: 6px;
    margin-right: 8px;
}
.timer-item{
    float: left;
    width: 35px;
    height: 37px;
    background-color: #440106;
    color: #f90013;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
}
.cd_item_txt{
        color: #f90013;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
}
.cd_split{
    float: left;
    margin: 22px 4px 0;
    width: 4px;
    height: 12px;
    font-size: 0;
    line-height: 0;
}
.cd_split_dot {
    display: block;
    width: 4px;
    height: 4px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #440106;
}
.cd_split_top {
    margin-bottom: 4px;
}
.sk .cd_split_bottom {
    top: 30px;
}
.goods-detail{
    float: left;
    width: 1000px;
    overflow: hidden;
    position: relative;
}
.miaosha-arr{
display: block;
}
.arr-com{
    position: absolute;
    display: block;
    z-index: 1;
    top: 50%;
    margin-top: -25px;
    width: 25px;
    height: 50px;
    background: #5e5e5e;
    background: rgba(0,0,0,.2);
    line-height: 50px;
    text-align: center;
     cursor: pointer;
}
.miaosha-arrleft{
   
   left:5px;  
}
.miaosha-arrright{
   
   right :5px;  
}

.miaosha-ul{
    width: 3000px;
    transform: translateX(-1000px);
    transition-property: transform;
    /*(transition-duration: 0.6s;*/
}
.miaosha-a-log{
        margin: 0 8px 0 0;
    float: right;
}
.miaosha-a-log img{
        display: block;
    width: 180px;
    height: 225px;
}
.list-item{
    float: left;
    width: 170px;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;
}
.list-item-pic{
    position: relative;
    text-align: center;
}
.goodli-a{
    display: block;
    outline: 0;
}
.miaosha-goodliP {
    color: #999;
    display: block;
    max-width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
}
.miaosha-goodliP:hover{
    color: #f10215;

}
.miaosha-goodPrice{
    padding: 3px 0;
    height: 25px;
    font-size: 18px;
    font-weight: 700;
    color: #f10214;

}
.goodi{
font-size: 12px;
    font-weight: 300;
}
.goodpricespan{


}
 .miaosha-goodliImg{   
    width: 130px;
    height: 130px;
    margin: 17px 0;
    transform: translateY(0);
    transition: transform .4s ease;
    cursor: pointer;
}

.li_item_shadow{
    position: absolute;
    left: 0;
    top: 130px;
    text-align: center;
    background-image: url(../images/flag.png);
    background-position: 0 0;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
    }